
body {
    font-family: Lato, sans-serif;
}
h1 {
    font-size: 85px;
    font-weight: 300;
    margin: 0;
}
h2 {
    font-size: 20px;
    font-weight: 400;
}
.banner {
    background-color: #012c38;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 340px;
    background-image: url('bannerbg.jpg');
    background-position: top center;
}
.banner > div {
    text-align: center;
}