
.banner {
    background-color: #012c38;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 340px;
    background-image: url('bannerbg.jpg');
    background-position: top center;
}
.banner > div {
    text-align: center;
}